<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"> -->

<div>
    <div style = "text-align:right">
        <button type = "add-friend" class = "btn btn-default" id = "add-friend" >Add Friends</button>
    </div>
    <div id = "friend-modal" class = "modal">
        <div class = "friend-modal-content">
            <div id="closemodal" style = "text-align:right">
                <span class="glyphicon glyphicon-remove-circle" ></span> 
            </div>
            <div id = "friend form">
                <label class = "search"> Find Friends </label>
                <input required type="text" class="form-control" id="search-friend" placeholder="username" name="search-friend">
                <button class = "btn btn-default" id = "add"> Add </button>
            </div>
        </div>
    </div>
</div>

<ul class="media-list">
    {{#each posts}}
    <li class="post">
        <div class="media-left">
            <a href="{{link}}">
                <img class="profile-avatar" src="{{profilepic}}">
            </a>
        </div>
        <div class="media-body">
            <a href={{link}}><strong class="media-heading">{{name}}</strong></a>
            <p>{{text}}</p>
            <a class="btn btn-xs btn-default like"><span class="glyphicon glyphicon-thumbs-up"></span> Like!</a>
            <span class="score">{{score}}</span> liked!
        </div>
    </li>
    {{/each}}
</ul>

<!-- sorta ugly looking feed -->
<!--
<ul id="main-feed">
    {{#each posts}}
    <li class="post">
        <div class="post-person">
            <a class="post-person-profilelink" href="{{link}}">
                <img class="profile-avatar" src={{profilepic}}>
                <strong class="profile-name">{{name}}</strong>
            </a>
        </div>
        <div class="post-text">
            <p>
                {{text}}
            </p>
            <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> Like!</a>
        </div>
    </li>
    {{/each}}
</ul>
-->

<!-- IMPLEMENT FEED WITH HANDLEBARS LATER 
<ul id="main-feed">
    {{#each post}}
        <li>{{this}}</li>
    {{/each}}
</ul>
-->
<script src="/javascripts/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/javascripts/feed.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script> -->