<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-xs-12 ">
            <h2> To Do </h2>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <!--beginning of for each loop -->
                <div class="panel-body" id="appendHere">
                    <div id="testing">
                        {{#each taskData.cogs}}
                        <li class="list-group-item" id="grab">
                            <div class="element">
                                <div class="task-name" style="display:inline-block">{{task}}</div>
                                <div>Subject:</div>
                                <div>{{subject}}</div>
                                <div style="text-align:right">Due:</div>
                                <div class="year" style="text-align:right">{{dueDate}}</div>
                               
                            </div>
<<<<<<< HEAD
                            <!--  <button class="check-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok-circle"></span></button>
                            <button class="edit item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-edit"></span></button>-->
                            <button id="removeBtn" onclick="moveButton(this)">X</button>
=======
                            
                            <button class="done-btn"><span class="glyphicon glyphicon-ok-circle" ></span>DONE</button>


                            <button class="edit-btn"><span class="glyphicon glyphicon-edit"></span>EDIT</button>
                            <div class="modal edit-modal">
                                <div class="modal-content">
                                    <div class="close-edit-modal" style="text-align:right">
                                         <span class="glyphicon glyphicon-remove-circle"></span>
                                    </div>
                                    <form role="form" method="get" action="/add">
                                        <!--FORM Start-->
                                        <h3>Edit Task</h3>
                                        <div class="form-group">
                                            <label for="task">Task:</label>
                                            <input 
                                                required 
                                                type="text" 
                                                class="form-control" 
                                                id="name" 
                                                placeholder="Name"
                                                value="{{task}}" 
                                                name="task">
                                        </div>
                                        <div class="form-group">
                                            <label for="priority">Subject: </label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                id="subject" 
                                                placeholder="Subject"
                                                value="{{subject}}"
                                                name="subject">
                                        </div>
                                        <div class="form-group">
                                            <label for="due date">Due Date:</label>
                                            <input 
                                                type="text" 
                                                class="flatpickr form-control" 
                                                id="datepicker" 
                                                placeholder="Due Date"
                                                value="{{dueDate}}" 
                                                name="dueDate">
                                        </div>
                                        <input type="submit" id="submitBtn" class="btn btn-default" value="Add task"></input>
                                    </form>
                                </div>
                            </div>  

>>>>>>> 2d3315100734ca52d6d52d9e7268a92f20166e27
                        </li>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!--end of for each loop -->
            <div class="addTask" style="text-align:center">
                <!-- Trigger/Open the add task modal -->
                <button id="add-btn"> Add task </button>
                <!-- When open the add task modal -->
                <div id="add-modal" class="modal">
                    <!-- open add modal content -->
                    <div class="modal-content">
                        <div id="close-add-modal" style="text-align:right">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </div>
                        <form id="addFriendForm" role="form" method="get" action="/add">
                            <!--FORM Start-->
                            <h3>Add a Task</h3>
                            <div class="form-group">
                                <label for="task">Task:</label>
                                <input required type="text" class="form-control" id="name" placeholder="Name" name="task">
                            </div>
                            <div class="form-group">
                                <label for="priority">Subject: </label>
                                <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                            </div>
                            <div class="form-group">
                                <label for="due date">Due Date:</label>
                                <input type="text" class="flatpickr form-control" id="datepicker" placeholder="Due Date" name="dueDate">
                            </div>
                            <input type="submit" id="submitBtn" class="btn btn-default" value="Add task"></input>
                        </form>
                        <!--FORM END--> 
                    </div>
                </div>
            </div>
        </div>
        <!-- ENDS OF TO DO MODULE -->
        <!--START OF DONE TASKS MODULE -->
        <h2> Done </h2>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Done</h3>
                
            </div>
<<<<<<< HEAD
            <div class="panel-body">
                <div id="doneList">
                    <!-- <li class="list-group-item" style="text-decoration: line-through" data-style="button"> Task 1 <button class= "remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove-sign"></span></button></li>  -->
                </div>
=======
            <div id="donelist" class="panel-body">
                
>>>>>>> 2d3315100734ca52d6d52d9e7268a92f20166e27
            </div>
        </div>
    </div>
</div>
