<div class="col-xs-12 ">

            <!--Panel-->
            <div class="card">
                <div class="card-header danger-color-dark white-text">
                    To Do
                </div>
                <!-- BEGINNING OF CARD BLOCK-->
                <div class="card-block">
                    <h2> To Do </h2>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                        </div>
                        <!--beginning of for each loop -->
                        <div class="panel-body" id="appendHere">
                            <div id="testing">
                                {{#each taskData.cogs}}
                                <li class="list-group-item" id="grab">
                                    <div class="element">
                                        <div class="task-name" style="display:inline-block">{{task}}</div>
                                        <div>Subject:</div>
                                        <div>{{subject}}</div>
                                        <div style="text-align:right">Due:</div>
                                        <div class="year" style="text-align:right">{{dueDate}}</div>
                                    </div>
                                   
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">delete</button>
                                    <div class="modal fade bs-example-modal-sm" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <form role="form" method="get" action="/done2">
                                                    <!--FORM Start-->
                                                    <h3>Are you sure?</h3>
                                                    <input type="hidden" value="{{idx}}" name="idx">
                                                    <input type="hidden" class="form-control" id="task" placeholder="Name" value="{{task}}" name="task">
                                                    <!-- <input type="text" class="form-control" id="subject" placeholder="Subject" value="{{subject}}" name="subject"> -->
                                                    <input type="hidden" class="form-control" id="subject" placeholder="Name" value="{{subject}}" name="subject">
                                                    <input type="hidden" class="form-control" id="dueDate" placeholder="Name" value="{{dueDate}}" name="dueDate">
                                                    <input type="submit" id="submitBtn" class="btn btn-default" value="Yes"></input>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="edit-btn"><span class="glyphicon glyphicon-edit"></span>EDIT</button>
                                    <div class="modal edit-modal">
                                        <div class="modal-content">
                                            <div class="close-edit-modal" style="text-align:right">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </div>
                                            <form role="form" method="get" action="/edit2">
                                                <!--FORM Start-->
                                                <h3>Edit Task</h3>
                                                <div class="form-group">
                                                    <label for="task">Task:</label>
                                                    <input required type="text" class="form-control" id="name" placeholder="Name" value="{{task}}" name="task">
                                                </div>
                                                <div class="form-group">
                                                    <label for="priority">Subject: </label>
                                                    <!-- <input type="text" class="form-control" id="subject" placeholder="Subject" value="{{subject}}" name="subject"> -->
                                                    <select class="subjectpicker" name="subject" value="{{subject}}">
                                                        <option> Cogs 120</option>
                                                        <option> Cogs 101A </option>
                                                        <option> Cogs 102A </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="due date">Due Date:</label>
                                                    <input required type="text" class="flatpickr form-control" id="datepicker" placeholder="Due Date" value="{{dueDate}}" name="dueDate">
                                                    <input type="hidden" value="{{idx}}" name="idx">
                                                </div>
                                                <input type="submit" id="submitBtn" class="btn btn-default" value="Edit Task"></input>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF CARD BLOCK -->
            </div>
            <!--/.Panel-->
            
            <div class="addTask" style="text-align:center">
                <!-- Trigger/Open the add task modal -->
                <button id="add-btn"> Add task </button>
                <!-- When open the add task modal -->
                <div id="add-modal" class="modal">
                    <!-- open add modal content -->
                    <div class="modal-content">
                        <div id="close-add-modal" style="text-align:right">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </div>
                        <form id="addFriendForm" role="form" method="get" action="/add2">
                            <!--FORM Start-->
                            <h3>Add a Task</h3>
                            <div class="form-group">
                                <label for="task">Task:</label>
                                <input required type="text" class="form-control" id="name" placeholder="Name" name="task">
                            </div>
                            <div class="form-group">
                                <label for="priority">Subject: </label>
                                <!-- <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject"> -->
                                <select class="subjectpicker" name="subject">
                                    <option> Cogs 120</option>
                                    <option> Cogs 101A </option>
                                    <option> Cogs 102A </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="due date">Due Date:</label>
                                <input type="text" class="flatpickr form-control" id="datepicker" placeholder="Due Date" name="dueDate">
                            </div>
                            <input type="submit" id="submitBtn" class="btn btn-default" value="Add task"></input>
                        </form>
                        <!--FORM END-->
                    </div>
                </div>
            </div>
            <!-- ENDS OF TO DO MODULE -->
            <!--START OF DONE TASKS MODULE -->
            <!--Panel-->
            <div class="card text-xs-center">
                <div class="card-header default-color-dark white-text">
                    Done
                </div>
                <div id="donelist" class="panel-body">
                    {{#each taskData.finished}}
                    <li class="list-group-item" id="grab">
                        <div class="element">
                            <div class="task-name" style="display:inline-block"><strike>{{task}}</strike></div>
                            <div>Subject:</div>
                            <div><strike>{{subject}}</strike></div>
                            <div style="text-align:right">Due:</div>
                            <div class="year" style="text-align:right"><strike>{{dueDate}}</strike></div>
                        </div>
                    </li>
                    {{/each}}
                </div>
            </div>
            <!--/.Panel-->
        </div>